<!-- extends shows inherit from base.html -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- title in base.html -->
{% block title %}
    Details of article
{% endblock title %}

<!-- content in bae.html -->
{% block content %}

<!-- details of article -->
<div class="container">
    <div class="row">
        <!-- title and author -->
<!--        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>-->
<!--        <div class="col-12 alert alert-success">作者：{{ article.author }}</div>-->
<!--            <a href='#' onclick="confirm_safe_delete()" style="margin-right: 10px;">删除文章</a>-->
<!--            <a href="{% url "article:article_update" article.id %}">编辑文章</a>-->
        <!-- Add a hidden form -->
        <div class="col-12 alert alert-success">
            <div>
                Author：{{ article.author }}
                {% if user == article.author %}
                    · <a href="#" onclick="confirm_delete()">Delete article</a>
                    · <a href="{% url "article:article_update" article.id %}">
                        Edit article
                    </a>
                {% endif %}
            </div>
            <div>
                Views：{{ article.total_views }}
            </div>
        </div>
        <form
              style="display:none;"
              id="safe_delete"
              action="{% url 'article:article_safe_delete' article.id %}"
              method="POST"
              >
            {% csrf_token %}
            <button type="submit">发送</button>
        </form>

        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>

<script>
    function confirm_delete(){
        layer.open({
            title:"确认删除",
            content:"确认删除这篇文章吗？",
            yes: function (index,layero) {
                location.href='{% url "article:article_delete" article.id %}'
            },
        })
    }
    function confirm_safe_delete() {
    layer.open({
        title: "确认删除",
        content: "确认删除这篇文章吗？",
        yes: function(index, layero) {
            $('form#safe_delete button').click();
            layer.close(index);
        }
    })
}
</script>

{% endblock content %}